// Colors
$white: #fff;
$black: #333;
$prim-color-1: #000000;
$prim-color-2: #212121;
$prim-color-3: #484848;
$prim-color-4: #1b1b1b;
$prim-color-5: #424242;
$prim-color-6: #6d6d6d;
$grad-color-1: #000000;
$grad-color-2: #1b1b1b;
$grad-color-3: #212121;
$grad-color-4: #424242;
$grad-color-5: #484848;
$grad-color-6: #616161;
$grad-color-7: #6d6d6d;
$grad-color-8: #8e8e8e;

$mobile-nav-background-color: $white;
$body-background-color: $white;
$header-transition-time: 500ms;

// Fonts
$body-font-family: "Lato", sans-serif;
$heading-font-family: "Josefin Sans", sans-serif;
$base-font-size: 20px;
$lead-font-size: 22px;

// Buttons
$btn-font-size: 22px;
$btn-padding: 16px 10px;

// Container
$container-width: 800px;
$container-width-small: 700px;
$container-width-large: 950px;
$padding: 20px;

// Breakpoints
$x-small-breakpoint: 350px;
$small-breakpoint: 560px;
$medium-breakpoint: 790px;
